swagger: "2.0"
info:
  version: V1
  title: Send Funding
  x-artifactId: funding
host: api.mastercard.com
tags:
  -
    name: Funding
  -
    name: Funding Reversal
schemes:
  - https
paths:
  /send/v1/partners/{partner-id}/transfers/funding:
    post:
      tags:
        - Funding
      description: "The Funding Transaction enables the 'pull' of money from the sender's card to \
            the Transaction Originator who is providing the Person to Person service. The amount that\
            \ is debited from the Funding Account (sending consumer's account) will be the amount 'pu\
            shed' to the recipient via a payment transfer request.  Funds can be transferred from Mas\
            tercard\u00ae or Maestro\u00ae debit card accounts. To initiate the funding transaction, \
            users can provide the sending consumer's Primary Account Number (PAN) or a unique identif\
            ier previously mapped to the sending consumer's account."
      summary: "The Funding Transaction enables the 'pull' of money from the sender's card to the \
            Transaction Originator who is providing the Person to Person service. The amount that is \
            debited from the Funding Account (sending consumer's account) will be the amount 'pushed'\
            \ to the recipient via a payment transfer request.  Funds can be transferred from Masterc\
            ard\u00ae or Maestro\u00ae debit card accounts. To initiate the funding transaction, user\
            s can provide the sending consumer's Primary Account Number (PAN) or a unique identifier \
            previously mapped to the sending consumer's account."
      operationId: createFunding
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          in: path
          name: partner-id
          description: Path Param - Provider assigned partner id. Details - string, 32
          required: true
          type: string
        -
          in: body
          name: funding_transfer
          description: Contains the details of the request message.
          required: false
          schema:
            $ref: '#/definitions/FundingTransfer_wrapper'
      responses:
        200:
          description: Response details
          schema:
            $ref: '#/definitions/Transfer_wrapper'
      x-testable: false
      x-samples:
        -
          name: CreateFundingTokenized
          ordering: 211
          ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.status_timestamp
            - transfer.created
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.statement_descriptor
            - transfer.sender.email
            - transfer.recipient.email
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.reconciliation_data.custom_field[0].name
            - transfer.reconciliation_data.custom_field[0].value
            - transfer.reconciliation_data.custom_field[1].name
            - transfer.reconciliation_data.custom_field[1].value
            - transfer.reconciliation_data.custom_field[2].name
            - transfer.reconciliation_data.custom_field[2].value
          overrides:
            -
              funding_transfer.statement_descriptor: val:CLA*TEST
          request:
            application/json: |
              {
                 "partner-id": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                 "funding_transfer": {
                    "transfer_reference": "103@remember-integer[37]@",
                    "payment_type": "P2P",
                    "amount": "100",
                    "currency": "USD",
                    "funding_hints": "ucaf:84vdsfu4320ngftn3409823",
                    "sender_account_uri": "acct-ref:acct_ref_20160407070827512",
                    "recipient_account_uri": "pan:5102589999999988;exp=2050-08;cvc=123",
                    "recipient": {
                       "first_name": "John",
                       "middle_name": "Tyler",
                       "last_name": "Smith",
                       "nationality": "USA",
                       "date_of_birth": "1999-12-30",
                       "address": {
                          "line1": "1 Main St",
                          "line2": "Apartment 9",
                          "city": "OFallon",
                          "country_subdivision": "MO",
                          "postal_code": "63368",
                          "country": "USA"
                       },
                       "phone": "11234567890",
                       "email": "John.Smith123@abcmail.com"
                    },
                    "sanction_screening_override": "true",
                    "reconciliation_data": {
                       "custom_field": [
                          {
                             "name": "ABC",
                             "value": "123"
                          },
                          {
                             "name": "DEF",
                             "value": "456"
                          },
                          {
                             "name": "GHI",
                             "value": "789"
                          }
                       ]
                    },
                    "channel": "KIOSK",
                    "device_id": "DEVICE-1234",
                    "location": "state:MO",
                    "additional_message": "FudingKIOSK",
                    "language_identification": "ENG",
                    "language_data": "PAID FOR RENT",
                    "participation_id": "P123",
                    "token_cryptogram": {
                       "type": "CONTACTLESS_CHIP",
                       "value": "jjoutwsdgfdou124354ljlsdhgout968957",
                       "pan_sequence_number": "011"
                    },
                    "authentication": {
                       "authentication_value": "ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"
                    }
                 }
              }
          response:
            application/json: |
              {
                "transfer": {
                  "id": "trn_9iwoeGjDoWDl-U1SuRrH5L_P8IPY",
                  "resource_type": "transfer",
                  "transfer_reference": "TRNREF_20160826170254837",
                  "payment_type": "P2P",
                  "sender_account_uri": "acct-ref:acct_ref_20160407070827512",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "John.Jones123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "recipient_account_uri": "pan:************9988",
                  "recipient": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "John.Smith123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "transfer_amount": {
                    "value": "100",
                    "currency": "USD"
                  },
                  "created": "2016-08-26T12:48:52-05:00",
                  "transaction_history": {
                    "resource_type": "list",
                    "item_count": "1",
                    "data": {
                      "transaction": [
                        {
                          "id": "txn_7yuFI3NK6PQQufWrBzOFRAYSWXCg",
                          "resource_type": "transaction",
                          "account_uri": "pan:************9973",
                          "transaction_amount": {
                            "value": "100",
                            "currency": "USD"
                          },
                          "network": "VISAAFT",
                          "type": "FUNDING",
                          "create_timestamp": "2016-08-26T12:48:52-05:00",
                          "status": "APPROVED",
                          "status_reason": "APPROVED",
                          "status_timestamp": "2016-08-26T12:48:52-05:00",
                          "retrieval_reference": "624200192616",
                          "system_trace_audit_number": "926162"
                        }
                      ]
                    }
                  },
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "ABC",
                        "value": "123"
                      },
                      {
                        "name": "DEF",
                        "value": "456"
                      },
                      {
                        "name": "GHI",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status": "APPROVED",
                  "status_timestamp": "2016-08-26T12:48:52-05:00"
                }
              }
        -
          name: CreateFundingNonTokenized
          ordering: 212
          ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.status_timestamp
            - transfer.created
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.statement_descriptor
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.sender.email
            - transfer.recipient.email
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.reconciliation_data.custom_field[0].name
            - transfer.reconciliation_data.custom_field[0].value
            - transfer.reconciliation_data.custom_field[1].name
            - transfer.reconciliation_data.custom_field[1].value
            - transfer.reconciliation_data.custom_field[2].name
            - transfer.reconciliation_data.custom_field[2].value
          overrides:
            -
              funding_transfer.statement_descriptor: val:CLA*TEST
          request:
            application/json: |
              {
                "partner-id": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "funding_transfer": {
                  "transfer_reference": "104@remember-integer[16]@",
                  "payment_type": "P2P",
                  "amount": "100",
                  "currency": "USD",
                  "funding_hints": "ucaf:84vdsfu4320ngftn3409823",
                  "sender_account_uri": "pan:4000289999999973;exp=2050-08;cvc=123",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Jones",
                    "nationality": "USA",
                    "date_of_birth": "1994-05-21",
                    "address": {
                      "line1": "21 Broadway",
                      "line2": "Apartment A-6",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234565555",
                    "email": "John.Jones123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    }
                  },
                  "recipient_account_uri": "pan:5102589999999988;exp=2050-08;cvc=123",
                  "recipient": {
                    "first_name": "Jane",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "Jane.Smith123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:123456789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    }
                  },
                  "sanction_screening_override": "true",
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "ABC",
                        "value": "123"
                      },
                      {
                        "name": "DEF",
                        "value": "456"
                      },
                      {
                        "name": "GHI",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "additional_message": "FudingKIOSK",
                  "language_identification": "ENG",
                  "language_data": "PAID FOR RENT",
                  "participation_id": "P123",
                  "token_cryptogram": {
                    "type": "CONTACTLESS_CHIP",
                    "value": "jjoutwsdgfdou124354ljlsdhgout968957",
                    "pan_sequence_number": "011"
                  },
                  "authentication": {
                    "authentication_value": "ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"
                  }
                }
              }
          response:
            application/json: |
              {
                "transfer": {
                  "id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                  "resource_type": "transfer",
                  "transfer_reference": "TRNREF_20160826170254832",
                  "payment_type": "P2P",
                  "sender_account_uri": "pan:************9973",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Jones",
                    "nationality": "USA",
                    "date_of_birth": "1994-05-21",
                    "address": {
                      "line1": "21 Broadway",
                      "line2": "Apartment A-6",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234565555",
                    "email": "Jane.Jones123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "recipient_account_uri": "pan:************9988",
                  "recipient": {
                    "first_name": "Jane",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "Jane.Smith123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "transfer_amount": {
                    "value": "100",
                    "currency": "USD"
                  },
                  "created": "2016-08-26T11:32:56-05:00",
                  "transaction_history": {
                    "resource_type": "list",
                    "item_count": "1",
                    "data": {
                      "transaction": [
                        {
                          "id": "txn_DS1JPDNqUrLDxynZorLdwaYDsNS_",
                          "resource_type": "transaction",
                          "account_uri": "pan:************9973",
                          "transaction_amount": {
                            "value": "100",
                            "currency": "USD"
                          },
                          "network": "VISAAFT",
                          "type": "FUNDING",
                          "create_timestamp": "2016-08-26T11:32:56-05:00",
                          "status": "APPROVED",
                          "status_reason": "APPROVED",
                          "status_timestamp": "2016-08-26T11:32:56-05:00",
                          "retrieval_reference": "624200192616",
                          "system_trace_audit_number": "926162"
                        }
                      ]
                    }
                  },
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "ABC",
                        "value": "123"
                      },
                      {
                        "name": "DEF",
                        "value": "456"
                      },
                      {
                        "name": "GHI",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status": "APPROVED",
                  "status_timestamp": "2016-08-26T11:32:56-05:00"
                }
              }
  /send/v1/partners/{partner-id}/transfers/{transfer-id}/transactions/{transaction-id}/reversals:
    post:
      tags:
        - Funding Reversal
      description: "Funding Reversals must be submitted within 30 minutes of the funding transfer \
            request, and should only be submitted for the following conditions:  Funding Transaction \
            must be reversed if payment transaction cannot complete successfully, i.e. the payment tr\
            ansaction is rejected or declined.  Upon a successful reversal of a funding transaction, \
            the refund must be credited to the sending consumer\u2019s Funding Account."
      summary: "Funding Reversals must be submitted within 30 minutes of the funding transfer requ\
            est, and should only be submitted for the following conditions:  Funding Transaction must\
            \ be reversed if payment transaction cannot complete successfully, i.e. the payment trans\
            action is rejected or declined.  Upon a successful reversal of a funding transaction, the\
            \ refund must be credited to the sending consumer\u2019s Funding Account."
      operationId: createFundingReversal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          in: path
          name: partner-id
          description: Path Param - Provider assigned partner id. Details - string, 32
          required: true
          type: string
        -
          in: path
          name: transfer-id
          description: Valid transfer id
          required: true
          type: string
        -
          in: path
          name: transaction-id
          description: Valid transaction id
          required: true
          type: string
        -
          in: body
          name: funding_reversal
          description: Contains the details of the request message.
          required: false
          schema:
            $ref: '#/definitions/FundingReversal_wrapper'
      responses:
        200:
          description: Response details
          schema:
            $ref: '#/definitions/ReversalTransfer_wrapper'
      x-testable: false
      x-samples:
        -
          name: FundingReversal
          ordering: 213
          ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.status_timestamp
            - transfer.created
            - transfer.transaction_history.data.transaction[1].id
            - transfer.transaction_history.data.transaction[1].create_timestamp
            - transfer.transaction_history.data.transaction[1].status_timestamp
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.transaction_history.data.transaction[1].retrieval_reference
            - transfer.transaction_history.data.transaction[1].system_trace_audit_number
            - transfer.statement_descriptor
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].network_status_code
            - transfer.transaction_history.data.transaction[0].network_status_description
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.transaction_history.data.transaction[1].resource_type
            - transfer.transaction_history.data.transaction[1].account_uri
            - transfer.transaction_history.data.transaction[1].transaction_amount.value
            - transfer.transaction_history.data.transaction[1].transaction_amount.currency
            - transfer.transaction_history.data.transaction[1].network
            - transfer.transaction_history.data.transaction[1].network_status_code
            - transfer.transaction_history.data.transaction[1].network_status_description
            - transfer.transaction_history.data.transaction[1].type
            - transfer.transaction_history.data.transaction[1].status
            - transfer.transaction_history.data.transaction[1].status_reason
            - transfer.transaction_history.data.transaction[1].reversal_reason
          overrides:
            -
              transfer-id: CreateFundingNonTokenized.transfer.id
            -
              transaction-id: CreateFundingNonTokenized.transfer.transaction_history.data.transaction[0].id
          request:
            application/json: |
              {
                "transfer-id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                "transaction-id": "xnR3qC0NVexjx",
                "partner-id": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "funding_reversal": {
                  "reversal_reason": "Incorrect Amount"
                }
              }
          response:
            application/json: |
              {
                "transfer": {
                  "id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                  "resource_type": "transfer",
                  "transfer_reference": "TRNREF_20160826170254832",
                  "payment_type": "P2P",
                  "sender_account_uri": "pan:************9973",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Jones",
                    "nationality": "USA",
                    "date_of_birth": "1994-05-21",
                    "address": {
                      "line1": "21 Broadway",
                      "line2": "Apartment A-6",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234565555",
                    "email": "John.Jones123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "recipient_account_uri": "pan:************9988",
                  "recipient": {
                    "first_name": "Jane",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "Jane.Smith123@abcmail.com",
                    "government_ids": {
                      "government_id_uri": [
                        "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"
                      ]
                    },
                    "sanction_score": "20"
                  },
                  "transfer_amount": {
                    "value": "100",
                    "currency": "USD"
                  },
                  "created": "2016-08-26T06:32:56.141-05:00",
                  "transaction_history": {
                    "resource_type": "list",
                    "item_count": "2",
                    "data": {
                      "transaction": [
                        {
                          "id": "txn_DS1JPDNqUrLDxynZorLdwaYDsNS_",
                          "resource_type": "transaction",
                          "account_uri": "pan:************9973",
                          "transaction_amount": {
                            "value": "100",
                            "currency": "USD"
                          },
                          "network": "VISAAFT",
                          "network_status_code": "00",
                          "network_status_description": "Approved",
                          "type": "FUNDING",
                          "create_timestamp": "2016-08-26T06:32:56.151-05:00",
                          "status": "APPROVED",
                          "status_reason": "APPROVED",
                          "status_timestamp": "2016-08-26T11:32:56-05:00",
                          "retrieval_reference": "624200192616",
                          "system_trace_audit_number": "926162"
                        },
                        {
                          "id": "txn_g3H3adFZdJtOaCFcrIkHDxSjg0bx",
                          "resource_type": "transaction",
                          "account_uri": "pan:************9973",
                          "transaction_amount": {
                            "value": "100",
                            "currency": "USD"
                          },
                          "network": "VISAAFT",
                          "network_status_code": "00",
                          "network_status_description": "Approved",
                          "type": "FUNDING_REVERSAL",
                          "create_timestamp": "2016-08-26T06:33:03.130-05:00",
                          "status": "APPROVED",
                          "status_reason": "APPROVED",
                          "reversal_reason": "Incorrect Amount",
                          "status_timestamp": "2016-08-26T11:33:03-05:00",
                          "retrieval_reference": "624200192616",
                          "system_trace_audit_number": "926162"
                        }
                      ]
                    }
                  },
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "ABC",
                        "value": "123"
                      },
                      {
                        "name": "DEF",
                        "value": "456"
                      },
                      {
                        "name": "GHI",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status": "REVERSED",
                  "status_timestamp": "2016-08-26T06:33:03.249-05:00"
                }
              }
  /send/v1/partners/{partnerId}/transfers/{transferId}:
    get:
      tags:
        - Funding
      description: Purpose of this service is to retrieve the Transfer resource associated with the
        specified transfer-id.
      summary: Purpose of this service is to retrieve the Transfer resource associated with the specified
        transfer-id.
      operationId: GetFundingById
      produces:
        - application/json
      parameters:
        -
          in: path
          name: partnerId
          description: Path Param - Provider assigned partner id. Details - string, 32
          required: true
          type: string
        -
          in: path
          name: transferId
          description: Path Param - Valid transfer id
          required: true
          type: string
      responses:
        200:
          description: Response details
          schema:
            $ref: '#/definitions/Transfer_wrapper_Response'
      x-testable: false
      x-action: read by ID
      x-samples:
        -
          name: GetFundingById
          ordering: 214
          ignoreAsserts:
            - transfer.transfer_reference
            - transfer.id
            - transfer.created
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].network_status_code
            - transfer.transaction_history.data.transaction[0].network_status_description
            - transfer.transaction_history.data.transaction[0].funds_availability
            - transfer.status_timestamp
            - transfer.sender.email
            - transfer.recipient.email
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.sender_account_uri
            - transfer.statement_descriptor
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.original_status
            - transfer.sender.sanction_score
            - transfer.recipient.sanction_score
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.original_status
            - transfer.status
            - transfer.participant.merchant_category_code
            - transfer.participant.card_acceptor_id
            - transfer.participant.customer_service_contact_info
          overrides:
            -
              transferId: CreatePayment_TOKENIZED.transfer.id
          request:
            application/json: |
              {
              "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
              "transferId": "trn_4MMUC7147Vamd1IVt77DV0d-mIZr"
              }
          response:
            application/json: |
              {
                "transfer": {
                  "sender": {
                    "address": {
                      "line1": "21 Broadway",
                      "line2": "Apartment A-6",
                      "city": "OFallon",
                      "country": "USA",
                      "country_subdivision": "MO",
                      "postal_code": "63368"
                    },
                    "phone": "11234565555",
                    "email": "John.Jones123@abcmail.com",
                    "nationality": "USA",
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Jones",
                    "date_of_birth": "1994-05-21"
                  },
                  "recipient": {
                    "address": {
                      "line1": "Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country": "USA",
                      "country_subdivision": "MO",
                      "postal_code": "63368"
                    },
                    "phone": "11234567890",
                    "email": "Jane.Smith123@abcmail.com",
                    "nationality": "USA",
                    "first_name": "Jane",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "date_of_birth": "1999-12-30"
                  },
                  "created": "2019-09-25T11:32:35-05:00",
                  "status": "APPROVED",
                  "id": "trn_-d8HY1gk3RznuNDfbFBv9J0ahcfz",
                  "resource_type": "transfer",
                  "transfer_reference": "p2p_156942915444421",
                  "payment_type": "P2P",
                  "sender_account_uri": "pan:************9905",
                  "recipient_account_uri": "pan:************9988",
                  "transfer_amount": {
                    "value": "100",
                    "currency": "USD"
                  },
                  "transaction_history": {
                    "data": {
                      "transaction": [
                        {
                          "network": "MasterCard",
                          "type": "FUNDING",
                          "id": "txn_XfHV7j1IjTL7Avcr1ZlKXOyiu9es",
                          "resource_type": "transaction",
                          "account_uri": "pan:************9905",
                          "transaction_amount": {
                            "value": "100",
                            "currency": "USD"
                          },
                          "network_status_code": "00",
                          "network_status_description": "APPROVED",
                          "create_timestamp": "2019-09-25T11:32:35-05:00",
                          "status": "APPROVED",
                          "status_reason": "APPROVED",
                          "status_timestamp": "2019-09-25T11:32:35-05:00",
                          "retrieval_reference": "926811367855",
                          "system_trace_audit_number": "367855",
                          "switch_serial_number": "803995673",
                          "unique_reference_number": "0000000000613370831"
                        }
                      ]
                    },      "resource_type": "list",
                    "item_count": 1
                  },
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "Policy Number",
                        "value": "123"
                      },
                      {
                        "name": "Claim number",
                        "value": "456"
                      },
                      {
                        "name": "Customer number",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "RPPU*TEST",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status_timestamp": "2019-09-25T11:32:35-05:00"
                }
              }
  /send/v1/partners/{partnerId}/transfers:
    get:
      tags:
        - Funding
      description: Purpose of this service is to retrieve the Transfer resource associated with a specified
        transfer_reference value.
      summary: Purpose of this service is to retrieve the Transfer resource associated with a specified
        transfer_reference value.
      operationId: getFundingByRef
      produces:
        - application/json
      parameters:
        -
          in: path
          name: partnerId
          description: Path Param - Provider assigned partner id. Details - string, 32
          required: true
          type: string
        -
          in: query
          name: ref
          description: Query Param - Is the client specified transfer reference when initiating the
            transfer. Allowable characters are alphanumeric and * , - . _ ~. Details- 6-40 Example-
            DEF123456
          required: true
          type: string
      responses:
        200:
          description: Response details
          schema:
            $ref: '#/definitions/Transfer_wrapper_Response'
      x-testable: false
      x-action: read by reference
      x-samples:
        -
          name: GetFundingByRef
          ordering: 215
          ignoreAsserts:
            - transfers.data.transfer[0].transfer_reference
            - transfers.data.transfer[0].id
            - transfers.data.transfer[0].created
            - transfers.data.transfer[0].transaction_history.data.transaction[0].id
            - transfers.data.transfer[0].transaction_history.data.transaction[0].create_timestamp
            - transfers.data.transfer[0].transaction_history.data.transaction[0].status_timestamp
            - transfers.data.transfer[0].transaction_history.data.transaction[0].network
            - transfers.data.transfer[0].transaction_history.data.transaction[0].network_status_code
            - transfers.data.transfer[0].transaction_history.data.transaction[0].network_status_description
            - transfers.data.transfer[0].status_timestamp
            - transfers.data.transfer[0].sender.email
            - transfers.data.transfer[0].recipient.email
            - transfers.data.transfer[0].transaction_history.data.transaction[0].retrieval_reference
            - transfers.data.transfer[0].transaction_history.data.transaction[0].system_trace_audit_number
            - transfers.data.transfer[0].statement_descriptor
            - transfers.data.transfer[0].original_status
            - transfers.data.transfer[0].transaction_history.data.transaction[0].status
            - transfers.data.transfer[0].transaction_history.data.transaction[0].status_reason
            - transfers.data.transfer[0].original_status
            - transfers.data.transfer[0].status
          overrides:
            -
              ref: CreatePayment_NON_TOKENIZED.transfer.transfer_reference
          request:
            application/json: |
              {
              "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
              "ref": "TRNREF_20160829130404970"
              }
          response:
            application/json: |
              {
               "transfers": {
                "data": {
                 "transfer": [{
                  "sender": {
                   "address": {
                    "line1": "21 Broadway",
                    "line2": "Apartment A-6",
                    "city": "OFallon",
                    "country": "USA",
                    "country_subdivision": "MO",
                    "postal_code": "63368"
                   },
                   "phone": "11234565555",
                   "email": "John.Jones123@abcmail.com",
                   "nationality": "USA",
                   "first_name": "John",
                   "middle_name": "Tyler",
                   "last_name": "Jones",
                   "date_of_birth": "1994-05-21"
                  },
                  "recipient": {
                   "address": {
                    "line1": "Main St",
                    "line2": "Apartment 9",
                    "city": "OFallon",
                    "country": "USA",
                    "country_subdivision": "MO",
                    "postal_code": "63368"
                   },
                   "phone": "11234567890",
                   "email": "Jane.Smith123@abcmail.com",
                   "nationality": "USA",
                   "first_name": "Jane",
                   "middle_name": "Tyler",
                   "last_name": "Smith",
                   "date_of_birth": "1999-12-30"
                  },
                  "created": "2019-09-25T11:32:35-05:00",
                  "status": "APPROVED",
                  "id": "trn_-d8HY1gk3RznuNDfbFBv9J0ahcfz",
                  "resource_type": "transfer",
                  "transfer_reference": "p2p_156942915444421",
                  "payment_type": "P2P",
                  "sender_account_uri": "pan:************9905",
                  "recipient_account_uri": "pan:************9988",
                  "transfer_amount": {
                   "value": "100",
                   "currency": "USD"
                  },
                  "transaction_history": {
                   "data": {
                    "transaction": [{
                     "network": "MasterCard",
                     "type": "FUNDING",
                     "id": "txn_XfHV7j1IjTL7Avcr1ZlKXOyiu9es",
                     "resource_type": "transaction",
                     "account_uri": "pan:************9905",
                     "transaction_amount": {
                      "value": "100",
                      "currency": "USD"
                     },
                     "network_status_code": "00",
                     "network_status_description": "APPROVED",
                     "create_timestamp": "2019-09-25T11:32:35-05:00",
                     "status": "APPROVED",
                     "status_reason": "APPROVED",
                     "status_timestamp": "2019-09-25T11:32:35-05:00",
                     "retrieval_reference": "926811367855",
                     "system_trace_audit_number": "367855",
                     "switch_serial_number": "803995673",
                     "unique_reference_number": "0000000000613370831"
                    }]
                   },
                   "resource_type": "list",
                   "item_count": 1
                  },
                  "reconciliation_data": {
                   "custom_field": [{
                     "name": "Policy Number",
                     "value": "123"
                    },
                    {
                     "name": "Claim number",
                     "value": "456"
                    },
                    {
                     "name": "Customer number",
                     "value": "789"
                    }
                   ]
                  },
                  "statement_descriptor": "RPPU*TEST",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status_timestamp": "2019-09-25T11:32:35-05:00"
                 }]
                },
                "item_count": 1,
                "resource_type": "list"
               }
              }
definitions:

  FundingTransfer:
    type: object
    required:
      - transfer_reference
      - amount
      - currency
      - recipient_account_uri
    description: Contains the details of the request message.
    properties:
      transfer_reference:
        description: Unique transaction reference number. It must be unique within the partner's domain.
          Allowable characters are alphanumeric and * , - . _ ~. Details- 6-40
        type: string
        example: "DEF123456"
      payment_type:
        description: 'P2P: Person to Person , A2A: Account to Account, CBP: Credit Card Billpayment,
               PSM: Person to Small Merchant. This parameter should be defined during onboarding process.
               If multiple payment types are setup for a partner the right payment type corresponding
               to the request should be specified. Details- Conditional'
        type: string
        example: "P2P"
      amount:
        description: 'Amount of the transfer in the smallest unit of currency. Decimal implied before
               last two positions. Example: 100 = $1.00USD Details- numeric, 1-999999999999'
        type: string
        example: "100"
      currency:
        description: 'Three-letter ISO currency code representing the currency of the transfer amount.
               Details- alpha, length: 3'
        type: string
        example: "USD"
      funding_hints:
        description: List of name/value pairs containing funding parameter values. Valid Values- Refer
          'Funding Hints URIs'
        type: string
        example: "ucaf:123456789;mcaid=123344"
      sender_account_uri:
        description: URI identifying sender's account to fund the transfer. Only a pan based account
          is valid. Valid Values- Refer 'Account URIs' Details- Conditional
        type: string
        example: "consumer-ref:SNDR123456789"
      sender_from_account:
        description: "The sender's 'from account', which is either 'Maestro' or 'Credit'. This field is only required when it is a Combo Card issued in Brazil. Otherwise, do not supply the field; its value will be ignored."
        type: string
        example: "credit"
      sender:
        $ref: '#/definitions/FundingSender'
      recipient_account_uri:
        description: URI identifying receiver's account to receive the transfer. Valid Values- Refer
          'Account URIs'
        type: string
        example: "acct-ref:ABCD123456789"
      recipient:
        $ref: '#/definitions/FundingRecipient'
      sanction_screening_override:
        description: "Override indicator if partner has opted into Sanction Screening validation \
               as part of transaction processing.  If Sanction Screening score on either sender or re\
               ceiver is equal to or above threshold configured for partner, the payment will error. \
               \ To bypass the Sanction Screening validation and process the payment the value 'true'\
               \ should be submitted.  Details:  Optional \u2013 If partner has not enabled Sanction \
               Screening validation default is 'true'.   Required - If partner has opted into Sanctio\
               n Screening validation but wants to bypass Sanction Screening validation and process t\
               he payment, value should be 'true'. "
        type: boolean
        example: "true"
      reconciliation_data:
        $ref: '#/definitions/FundingReconciliationData'
      statement_descriptor:
        description: 'The statement descriptor is a string which will be displayed on the recipient''s
               bank or card statement. It consists of one or two parts: the prefix and the content. The
               prefix is an optional short string typically used to identify the client/merchant. It is
               defined during client/merchant onboarding and the same value should be used. If not provided
               in the API call, system will use the value defined in the onboarding process. The content
               portion of the statement descriptor will be displayed on the recipient''s statement. If
               both the prefix and content portions are defined, they both are appended &lt;prefix&gt;+&lt;content&gt;
               The overall length may be at most 22 characters, including the prefix (even if not provided
               in the API call) and the content. Note: While most financial institutions display this
               information consistently, some may display it incorrectly or not at all. Details- Conditional,
               22'
        type: string
        example: "THANKYOU"
      channel:
        description: ' Initiation channel of the payment request. This value can be defined in the
               onboarding process instead of passing in every call One of the WEB, MOBILE, BANK, KIOSK.
               Details- Conditional'
        type: string
        example: "WEB"
      device_id:
        description: The serial number of a device. Details- 1-40
        type: string
        example: "DEV123456"
      location:
        description: Location where the transaction is initiated from. Details- 1-40. Valid Values-
          Refer 'Location URIs'
        type: string
        example: "state:MO"
      additional_message:
        description: Additional Message. Details- alpha-numeric 1-65
        type: string
        example: "DEV123456"
      language_identification:
        description: Language Identification. Details- alpha - 3
        type: string
        example: "ENG"
      language_data:
        description: Language Data Details- binary 1-65
        type: string
      participation_id:
        description: Participation Id. An identifier agreed by both the issuing institution and the
          merchant. Details- alpha-numeric 1-30
        type: string
        example: "TERMINAL34728"
      token_cryptogram:
        $ref: '#/definitions/TokenCryptogram'
      authentication:
        $ref: '#/definitions/Authentication'
    xml:
      name: funding_transfer

  FundingSender:
    type: object
    description: Response Information about the sender of the transaction.
    required:
      - first_name
      - last_name
    properties:
      first_name:
        description: "Sender\u2019s first name. Details- alpha, 1-40"
        type: string
        example: "John"
      middle_name:
        description: Middle name of the sender. Details- alpha, 40
        type: string
        example: "Tyler"
      last_name:
        description: "Sender\u2019s last name."
        type: string
        example: "Jones"
      nationality:
        description: The senders home country as an ISO 3166-1 alpha-3 country code.
        type: string
        example: "USA"
      date_of_birth:
        description: Date of birth of the sender as an ISO 8601 Full Date.
        type: string
        example: "1999-12-30"
      address:
        $ref: '#/definitions/FundingSenderAddress'
      phone:
        description: Phone number of the sender.
        type: string
        example: "11234567890"
      email:
        description: Email address of the sender.
        type: string
        example: "jane.smith123@abcmail.com"
      government_ids:
        $ref: '#/definitions/GovernmentIds'
    xml:
      name: sender

  FundingSenderAddress:
    type: object
    description: Request Sender's home address.
    properties:
      line1:
        description: First line of sender's home address. Details- 1-50
        type: string
        example: "1 Main St"
      line2:
        description: Second line of sender's home address. Details- 1-50
        type: string
        example: "Apartment 9"
      city:
        description: Home city. Details- 1-25
        type: string
        example: "Chicago"
      country_subdivision:
        description: Home state or province. US or Canada country subdivision code is required. Details-
          2-3
        type: string
        example: "MO"
      postal_code:
        description: 'Home postal code. Format in 5 digits or 5 digits hyphen 4 digits.  Details numeric
               length: 5 or 5-4'
        type: string
        example: "63368"
      country:
        description: The sender's home country as an ISO 3166-1 alpha-3 country code, in uppercase.
          Conditional - required if Sanction Screening validation is enabled. Details- alpha-3
        type: string
        example: "USA"
    xml:
      name: address

  FundingRecipient:
    type: object
    description: Response Information about the recipient of the transaction.
    required:
      - first_name
      - last_name
      - address
    properties:
      first_name:
        description: "Recipient\u2019s first name."
        type: string
        example: "John"
      middle_name:
        description: Recipient middle_name. Details- alpha, 40
        type: string
        example: "Tyler"
      last_name:
        description: "Recipient\u2019s last name."
        type: string
        example: "Jones"
      nationality:
        description: The recipient home country as an ISO 3166-1 alpha-3 country code.
        type: string
        example: "USA"
      date_of_birth:
        description: Date of birth of the recipient as an ISO 8601 Full Date. Valid Values- Refer
          'Date And Time Formats'
        type: string
        example: "1999-12-30"
      address:
        $ref: '#/definitions/FundingRecipientAddress'
      phone:
        description: Phone number of the recipient.
        type: string
        example: "11234567890"
      email:
        description: Email address of the recipient.
        type: string
        example: "Jane.Smith123@abcmail.com"
      government_ids:
        $ref: '#/definitions/GovernmentIds'
    xml:
      name: recipient

  FundingRecipientAddress:
    type: object
    required:
      - line1
      - city
      - postal_code
      - country
    description: Request Recipient's home address.
    properties:
      line1:
        description: First line of recipient's home address. Details- 1-50
        type: string
        example: "1 Main St"
      line2:
        description: Second line of recipient's home address. Details- 1-50
        type: string
        example: "Apartment 9"
      city:
        description: Home city. Details- 1-25
        type: string
        example: "St. Louis"
      country_subdivision:
        description: Home state or province. US or Canada country subdivision code is required. Details-
          2-3
        type: string
        example: "MO"
      postal_code:
        description: 'Home postal code.  Format in 5 digits or 5 digits hyphen 4 digits.  Details
               numeric length: 5 or 5-4'
        type: string
        example: "63368"
      country:
        description: The recipient's home country as an ISO 3166-1 alpha-3 country code, in uppercase.
          Details- alpha-3
        type: string
        example: "USA"
    xml:
      name: address

  GovernmentIds:
    type: object
    description: List of Government IDs.
    properties:
      government_id_uri:
        type: array
        description: URI describing the recipient government id. See 'Government ID URIs'.
        items:
          type: string
          example: "ppn:*****6789;expiration-date=2050-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon"

    xml:
      name: government_ids

  FundingReconciliationData:
    type: object
    description: Reconciliation information that will be associated to the transfer and will appear
      in the reconciliation reporting for the partner.
    properties:
      custom_field:
        description: Contains custom field names and values to appear in the reconciliation report.
          This can be a list of multiple name/value pairs. The names provided must match the configured
          in the partner setup.
        type: array
        items:
          $ref: '#/definitions/FundingCustomField'
    xml:
      name: reconciliation_data

  FundingCustomField:
    type: object
    required:
      - name
      - value
    description: Contains custom field names and values to appear in the reconciliation report. This
      can be a list of multiple name/value pairs. The names provided must match the configured in the
      partner setup.
    properties:
      name:
        description: Name to be displayed in the reconciliation report. This value will appear as
          a header in the reconciliation reports. Name values to be defined during the onboarding
          process. Details- 1-40
        type: string
        example: "TransactionID"
      value:
        description: Value to be displayed in the reconciliation report. Details- 1-40
        type: string
        example: "456FDWBS43"
    xml:
      name: custom_field

  TokenCryptogram:
    type: object
    required:
      - type
      - value
    description: Token Cryptogram is a value that needs to be processed along with the token when submitting
      a transaction.
    properties:
      type:
        description: |-
          CONTACTLESS_CHIP: When shared cryptogram in token_cryptogram.value is result of a contactless tap and chip information is read by the terminal, CONTACTLESS_MAGSTRIPE: When shared cryptogram in token_cryptogram.value is result of a contactless tap and the magstripe information is read by the terminal, DSRP_UCAF: When shared cryptogram in token_cryptogram.value is result of an in-app purchase and chip information to be passed in the UCAF field, DSRP_CHIP: When shared cryptogram in token_cryptogram.value is result of an in-app purchase leveraging EMV data.
          Values - CONTACTLESS_CHIP, CONTACTLESS_MAGSTRIPE, DSRP_UCAF, DSRP_CHIP.
        type: string
        example: "CONTACTLESS_CHIP"
      value:
        description: Contains formatted chip data. Details- alphanumeric, 1-255.
        type: string
        example: "jjoutwsdgfdou124354ljlsdhgout968957"
      pan_sequence_number:
        description: |-
          PAN Sequence Number distinguishes among separate cards having the same PAN. Processors  with chip-reading capability may pass this information for Contactless Chip and Contactless Magstripe transactions.
          When the token_cryptogram.type contains one the following types CONTACTLESS_CHIP, CONTACTLESS_MAGSTRIPE, DSRP_CHIP, then the pan_sequence_number may be present.
          Details: Numeric[0-9], Length: 3
        type: string
        example: "011"
    xml:
      name: token_cryptogram

  Authentication:
    type: object
    description: Customer would have to pass either Authentication code or Authentication value if they
      pass the Authentication object.
    properties:
      authentication_value:
        description: List of name/value pairs containing authentication  values. Refer 'Authentication
          Value URIs'.
        type: string
        example: "ucaf: jJJLtQa+Iws8AREAEbjsA1MAAAA"
      authentication_code:
        description: Authentication Code indicates the authentication mechanism. This can contain
          one of the following values - AUTHENTICATED_CAVV , NON_AUTHENTICATED_3D_SECURE , NON_AUTHENTICATED  and
          NON_SECURE .
        type: string
        example: " AUTHENTICATED_CAVV"
    xml:
      name: authentication

  Transfer:
    type: object
    description: Response details
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_9abcd233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transfer"
      transfer_reference:
        description: Unique transaction reference number provided when the Transfer was created.
        type: string
        example: "DEF123456"
      payment_type:
        description: 'P2P: Person to Person, A2A: Account to Account, CBP: Credit Card Bill Payment,
               PSM: Person to Small Merchant.'
        type: string
        example: "P2P"
      sender_account_uri:
        description: URI describing the sending account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************9012"
      sender:
        $ref: '#/definitions/Sender'
      recipient_account_uri:
        description: URI describing the recipient account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************7372"
      recipient:
        $ref: '#/definitions/Recipient'
      sanction_screening_override:
        description: Sanction Screening validation override if enabled for partner.
        type: boolean
        example: "true"
      transfer_amount:
        $ref: '#/definitions/TransferAmount'
      created:
        description: Date and time the original transfer was created as an ISO 8601 Timestamp. Details-
          YYYY-MM-DDTHH:MM:SSZ Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
      transaction_history:
        $ref: '#/definitions/TransactionHistory'
      reconciliation_data:
        $ref: '#/definitions/ReconciliationData'
      statement_descriptor:
        description: 'The statement descriptor is the value that will be displayed on the recipient''s
               bank or card statement. It consists of two parts: the prefix and the content. The prefix
               is a short string typically used to identify the partner. The appended &lt;prefix&gt;*&lt;content&gt;
               will be displayed on the recipient''s statement. Note: While most financial institutions
               display this information consistently, some may display it incorrectly or not at all.'
        type: string
        example: "THANKYOU"
      channel:
        description: 'Initiation channel of the transfer request. Values: WEB, MOBILE, BANK, KIOSK.'
        type: string
        example: "WEB"
      device_id:
        description: The serial number of a device that initiated the transfer.
        type: string
        example: "DEV123456"
      location:
        description: Location where the transaction is initiated.
        type: string
        example: "state:MO"
      original_status:
        description: Original status of the transfer. One of APPROVED, DECLINED, ERROR, PENDING, UNKNOWN.
        type: string
        example: "APPROVED"
      status:
        description: 'Status of the transfer. Values: APPROVED, DECLINED, ERROR, PENDING, REVERSED,
               CANCELLED, or REFUNDED.'
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Timestamp of when the status was changed to its current value. Details- YYYY-MM-DDTHH:MM:SSZ
          Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
    xml:
      name: transfer

  Transfer_Response:
    type: object
    description: Response details
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_9abcd233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transfer"
      transfer_reference:
        description: Unique transaction reference number provided when the Transfer was created.
        type: string
        example: "DEF123456"
      payment_type:
        description: 'P2P: Person to Person, A2A: Account to Account, CBP: Credit Card Bill Payment,
               PSM: Person to Small Merchant.'
        type: string
        example: "P2P"
      sender_account_uri:
        description: URI describing the sending account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************9012"
      sender:
        $ref: '#/definitions/Sender'
      recipient_account_uri:
        description: URI describing the recipient account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************7372"
      recipient:
        $ref: '#/definitions/Recipient'
      sanction_screening_override:
        description: Sanction Screening validation override if enabled for partner.
        type: boolean
        example: "true"
      transfer_amount:
        $ref: '#/definitions/TransferAmount'
      created:
        description: Date and time the original transfer was created as an ISO 8601 Timestamp. Details-
          YYYY-MM-DDTHH:MM:SSZ Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
      transaction_history:
        $ref: '#/definitions/TransactionHistoryResponse'
      reconciliation_data:
        $ref: '#/definitions/ReconciliationData'
      statement_descriptor:
        description: 'The statement descriptor is the value that will be displayed on the recipient''s
               bank or card statement. It consists of two parts: the prefix and the content. The prefix
               is a short string typically used to identify the partner. The appended &lt;prefix&gt;*&lt;content&gt;
               will be displayed on the recipient''s statement. Note: While most financial institutions
               display this information consistently, some may display it incorrectly or not at all.'
        type: string
        example: "THANKYOU"
      channel:
        description: 'Initiation channel of the transfer request. Values: WEB, MOBILE, BANK, KIOSK.'
        type: string
        example: "WEB"
      device_id:
        description: The serial number of a device that initiated the transfer.
        type: string
        example: "DEV123456"
      location:
        description: Location where the transaction is initiated.
        type: string
        example: "state:MO"
      original_status:
        description: Original status of the transfer. One of APPROVED, DECLINED, ERROR, PENDING, UNKNOWN.
        type: string
        example: "APPROVED"
      status:
        description: 'Status of the transfer. Values: APPROVED, DECLINED, ERROR, PENDING, REVERSED,
               CANCELLED, or REFUNDED.'
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Timestamp of when the status was changed to its current value. Details- YYYY-MM-DDTHH:MM:SSZ
          Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
    xml:
      name: transfer

  Sender:
    type: object
    description: Information about the sender of the transaction.
    properties:
      first_name:
        description: First name of the sender.
        type: string
        example: "John"
      middle_name:
        description: Middle name of the sender.
        type: string
        example: "Tyler"
      last_name:
        description: Last name of the sender.
        type: string
        example: "Jones"
      nationality:
        description: Country of the sender as an ISO alpha country code.
        type: string
        example: "USA"
      date_of_birth:
        description: Date of birth of the sender as an ISO 8601 Full Date.
        type: string
        example: "1999-12-30"
      address:
        $ref: '#/definitions/SenderAddress'
      phone:
        description: Phone number of the sender.
        type: string
        example: "11234567890"
      email:
        description: Email address of the sender.
        type: string
        example: "jane.smith123@abcmail.com"
      government_ids:
        $ref: '#/definitions/GovernmentIds'
      sanction_score:
        description: "A value ranging from 0 to 100. A higher score indicates a closer match to n\
               ames on the applicable screening list, while lower scores indicate a less likely match\
               .  Available in response when partner is enabled for Sanction Screening validation and\
               \ sanction_screening_override value is \u201cfalse\u201d."
        type: string
        example: "20"
    xml:
      name: sender

  SenderAddress:
    type: object
    description: Response Address of the sender.
    properties:
      line1:
        description: First line of the address of the sender.
        type: string
        example: "1 Main St"
      line2:
        description: Second line of the address of the sender.
        type: string
        example: "Apartment 9"
      city:
        description: City of the sender.
        type: string
        example: "OFallon"
      country_subdivision:
        description: State or province of the sender.
        type: string
        example: "MO"
      postal_code:
        description: Postal code of the sender.
        type: string
        example: "63368"
      country:
        description: Country of the sender as an ISO alpha country code.
        type: string
        example: "USA"
    xml:
      name: address

  Recipient:
    type: object
    description: Information about the recipient of the transaction.
    properties:
      first_name:
        description: First name of the recipient.
        type: string
        example: "John"
      middle_name:
        description: Middle name of the recipient.
        type: string
        example: "Tyler"
      last_name:
        description: Last name of the recipient.
        type: string
        example: "Jones"
      nationality:
        description: Country of the recipient as an ISO alpha country code.
        type: string
        example: "USA"
      date_of_birth:
        description: Date of birth of the recipient as an ISO 8601 Full Date. Valid Values- Refer
          'Date And Time Formats'
        type: string
        example: "1999-12-30"
      address:
        $ref: '#/definitions/RecipientAddress'
      phone:
        description: Phone number of the recipient.
        type: string
        example: "11234567890"
      email:
        description: Email address of the recipient.
        type: string
        example: "Jane.Smith123@abcmail.com"
      government_ids:
        $ref: '#/definitions/GovernmentIds'
      sanction_score:
        description: "A value ranging from 0 to 100. A higher score indicates a closer match to n\
               ames on the applicable screening list, while lower scores indicate a less likely match\
               .  Available in response when partner is enabled for Sanction Screening validation and\
               \ sanction_screening_override value is \u201cfalse\u201d."
        type: string
        example: "20"
    xml:
      name: recipient

  RecipientAddress:
    type: object
    description: ' Response Address of the recipient.'
    properties:
      line1:
        description: First line of the address of the recipient.
        type: string
        example: "1 Main St"
      line2:
        description: Second line of the address of the recipient.
        type: string
        example: "Apartment 9"
      city:
        description: City of the recipient
        type: string
        example: "OFallon"
      country_subdivision:
        description: State or province of the recipient.
        type: string
        example: "MO"
      postal_code:
        description: Postal code of the recipient.
        type: string
        example: "63368"
      country:
        description: Country of the recipient as an ISO alpha country code.
        type: string
        example: "USA"
    xml:
      name: address

  TransferAmount:
    type: object
    description: Describes the amount paid to the recipient.
    properties:
      value:
        description: Amount of the transfer. The decimal point is implied based on the payment_transfer.currency.
        type: string
        example: "5300"
      currency:
        description: Currency of the transfer amount as an ISO alpha currency code.
        type: string
        example: "USD"
    xml:
      name: transfer_amount

  TransactionHistory:
    type: object
    description: A list of all Transactions in the transfer including reversals.
    properties:
      resource_type:
        description: Resource type of the resource that is being returned.
        type: string
        example: "list"
      item_count:
        description: 'Number of Transactions in the list. Details- Numeric Example: 1'
        type: integer
        format: int64
        example: "1"
      data:
        $ref: '#/definitions/Data'
    xml:
      name: transaction_history

  TransactionHistoryResponse:
    type: object
    description: A list of all Transactions in the transfer including reversals.
    properties:
      resource_type:
        description: Resource type of the resource that is being returned.
        type: string
        example: "list"
      item_count:
        description: 'Number of Transactions in the list. Details- Numeric Example: 1'
        type: integer
        format: int64
        example: "1"
      data:
        $ref: '#/definitions/DataResponse'
    xml:
      name: transaction_history

  Data:
    type: object
    description: An array containing the Transactions in the transfer.
    properties:
      transaction:
        description: transaction array
        type: array
        items:
          $ref: '#/definitions/Transaction'
    xml:
      name: data

  DataResponse:
    type: object
    description: An array containing the Transactions in the transfer.
    properties:
      transaction:
        description: transaction array
        type: array
        items:
          $ref: '#/definitions/Transaction_Response'
    xml:
      name: data

  Transaction:
    type: object
    description: transaction array
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_8h4me233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transaction"
      account_uri:
        description: account uri
        type: string
        example: "pan:************9012"
      transaction_amount:
        $ref: '#/definitions/TransactionAmount'
      network:
        description: Proposed network for the transaction.
        type: string
        example: "MasterCard"
      network_status_code:
        description: Network Status Code in case of Decline
        type: string
        example: "54"
      network_status_description:
        description: Network Status Description in case of Decline
        type: string
        example: "Expired Card."
      type:
        description: 'Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL, or PAYMENT_REVERSAL.'
        type: string
        example: "PAYMENT"
      create_timestamp:
        description: Date and time the transaction was created as an ISO 8601 Timestamp. [YYYY-MM-DDTHH:MM:SSZ]
        type: string
        example: "2015-03-18T14:18:55Z"
      status:
        description: Status of the disbursement. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, or REVERSED.
        type: string
        example: "APPROVED"
      status_reason:
        description: Reason for status, APPROVED, DECLINED, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED, UNKNOWN,
          ERROR, PENDING
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Date and time of when the status was changed to its current value as an ISO 8601
          Timestamp. [YYYY-MM-DDTHH:MM:SSZ
        type: string
        example: "2015-03-18T14:18:56Z"
      retrieval_reference:
        description: Unique reference number that identifies the transaction at the network. Details-
          maxlength 24
        type: string
        example: "624200192616"
      system_trace_audit_number:
        description: Unique system trace audit number for the transaction, the STAN ( system trace
          audit number ). Details- maxlength 6
        type: string
        example: "926162"
    xml:
      name: transaction

  Transaction_Response:
    type: object
    description: transaction array
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_8h4me233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transaction"
      account_uri:
        description: account uri
        type: string
        example: "pan:************9012"
      transaction_amount:
        $ref: '#/definitions/TransactionAmount'
      network:
        description: Proposed network for the transaction.
        type: string
        example: "MasterCard"
      network_status_code:
        description: Network Status Code in case of Decline
        type: string
        example: "54"
      network_status_description:
        description: Network Status Description in case of Decline
        type: string
        example: "Expired Card."
      type:
        description: 'Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL, or PAYMENT_REVERSAL.'
        type: string
        example: "PAYMENT"
      create_timestamp:
        description: Date and time the transaction was created as an ISO 8601 Timestamp. [YYYY-MM-DDTHH:MM:SSZ]
        type: string
        example: "2015-03-18T14:18:55Z"
      status:
        description: Status of the disbursement. One of APPROVED, DECLINED, UNKNOWN, ERROR, PENDING, or REVERSED.
        type: string
        example: "APPROVED"
      status_reason:
        description: Reason for status, APPROVED, DECLINED, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED, UNKNOWN,
          ERROR, PENDING
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Date and time of when the status was changed to its current value as an ISO 8601
          Timestamp. [YYYY-MM-DDTHH:MM:SSZ
        type: string
        example: "2015-03-18T14:18:56Z"
      retrieval_reference:
        description: Unique reference number that identifies the transaction at the network. Details-
          maxlength 24
        type: string
        example: "624200192616"
      system_trace_audit_number:
        description: Unique system trace audit number for the transaction, the STAN ( system trace
          audit number ). Details- maxlength 6
        type: string
        example: "926162"
      switch_serial_number:
        description: Unique transaction identification number (switch serial number) generated (or assigned) by the Single Message System. Details- maxlength 9
        type: string
        example: "564727057"
      unique_reference_number:
        description: Unique reference number for the transaction. Details- maxlength 19
        type: string
        example: "592087939"
    xml:
      name: transaction

  TransactionAmount:
    type: object
    description: transaction amount consist of value and currency
    properties:
      value:
        description: Amount of the transfer. The decimal point is implied based on the payment_transfer.currency.
        type: string
        example: "5300"
      currency:
        description: Currency of the transfer amount as an ISO alpha currency code.
        type: string
        example: "USD"
    xml:
      name: transaction_amount

  ReconciliationData:
    type: object
    description: Reconciliation information that will be associated to the transfer and will appear
      in the reconciliation reporting for the partner.
    properties:
      custom_field:
        description: Contains custom field names and values to appear in the reconciliation report.
          This can be a list of multiple name/value pairs. The names provided must match the configured
          in the partner setup.
        type: array
        items:
          $ref: '#/definitions/CustomField'
    xml:
      name: reconciliation_data

  CustomField:
    type: object
    description: Contains custom field names and values to appear in the reconciliation report. This
      can be a list of multiple name/value pairs. The names provided must match the configured in the
      partner setup.
    properties:
      name:
        description: Name to be displayed in the reconciliation report. This value will appear as
          a header in the reconciliation reports. Name values to be defined during the onboarding
          process. Details- 1-40
        type: string
        example: "TransactionID"
      value:
        description: Value to be displayed in the reconciliation report. Details- 1-40
        type: string
        example: "456FDWBS43"
    xml:
      name: custom_field

  FundingReversal:
    type: object
    required:
      - reversal_reason
    description: Contains the details of the request message.
    properties:
      reversal_reason:
        description: Brief description of reason for reversal. Details- alpha-numeric 1-50
        type: string
        example: "Payment Not Completed"
    xml:
      name: funding_reversal

  ReversalTransfer:
    type: object
    description: Reversal Response details
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_9abcd233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transfer"
      transfer_reference:
        description: Unique transaction reference number provided when the Transfer was created.
        type: string
        example: "DEF123456"
      payment_type:
        description: 'P2P: Person to Person, A2A: Account to Account, CBP: Credit Card Bill Payment,
               PSM: Person to Small Merchant.'
        type: string
        example: "P2P"
      sender_account_uri:
        description: URI describing the sending account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************9012"
      sender:
        $ref: '#/definitions/Sender'
      recipient_account_uri:
        description: URI describing the recipient account. It will include masked account information
          (e.g. "************1234" for a card account) but will not include security codes (e.g.
          CVC or expiration date for a card account).
        type: string
        example: "pan:************7372"
      recipient:
        $ref: '#/definitions/Recipient'
      sanction_screening_override:
        description: Sanction Screening validation override if enabled for partner.
        type: boolean
        example: "true"
      transfer_amount:
        $ref: '#/definitions/TransferAmount'
      created:
        description: Date and time the original transfer was created as an ISO 8601 Timestamp. Details-
          YYYY-MM-DDTHH:MM:SSZ Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
      transaction_history:
        $ref: '#/definitions/ReversalTransactionHistory'
      reconciliation_data:
        $ref: '#/definitions/ReconciliationData'
      statement_descriptor:
        description: 'The statement descriptor is the value that will be displayed on the recipient''s
               bank or card statement. It consists of two parts: the prefix and the content. The prefix
               is a short string typically used to identify the partner. The appended &lt;prefix&gt;*&lt;content&gt;
               will be displayed on the recipient''s statement. Note: While most financial institutions
               display this information consistently, some may display it incorrectly or not at all.'
        type: string
        example: "THANKYOU"
      channel:
        description: 'Initiation channel of the transfer request. Values: WEB, MOBILE, BANK, KIOSK.'
        type: string
        example: "WEB"
      device_id:
        description: The serial number of a device that initiated the transfer.
        type: string
        example: "DEV123456"
      location:
        description: Location where the transaction is initiated.
        type: string
        example: "state:MO"
      original_status:
        description: Original status of the transfer. One of APPROVED, DECLINED, ERROR, PENDING, UNKNOWN.
        type: string
        example: "APPROVED"
      status:
        description: 'Status of the transfer. Values: APPROVED, DECLINED, ERROR, PENDING, REVERSED,
               CANCELLED.'
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Timestamp of when the status was changed to its current value. Details- YYYY-MM-DDTHH:MM:SSZ
          Valid Values- Refer 'Date And Time Formats'
        type: string
        example: "2015-03-18T14:18:55Z"
    xml:
      name: transfer

  ReversalTransactionHistory:
    type: object
    description: A list of all Transactions in the transfer including reversals.
    properties:
      resource_type:
        description: Resource type of the resource that is being returned.
        type: string
        example: "list"
      item_count:
        description: 'Number of Transactions in the list. Details- Numeric Example: 1'
        type: integer
        format: int64
        example: "1"
      data:
        $ref: '#/definitions/ReversalData'
    xml:
      name: transaction_history

  ReversalData:
    type: object
    description: An array containing the Transactions in the transfer.
    properties:
      transaction:
        description: transaction array
        type: array
        items:
          $ref: '#/definitions/ReversalTransaction'
    xml:
      name: data

  ReversalTransaction:
    type: object
    description: reversal transaction array
    properties:
      id:
        description: System generated unique transfer identifier.
        type: string
        example: "trn_8h4me233jk23l6c5lw5f"
      resource_type:
        description: Type of resource
        type: string
        example: "transaction"
      account_uri:
        description: account uri
        type: string
        example: "pan:************9012"
      transaction_amount:
        $ref: '#/definitions/TransactionAmount'
      network:
        description: Proposed network for the transaction.
        type: string
        example: "MasterCard"
      network_status_code:
        description: Network Status Code in case of Decline
        type: string
        example: "54"
      network_status_description:
        description: Network Status Description in case of Decline
        type: string
        example: "Expired Card."
      type:
        description: 'Type of the transaction. One of: FUNDING, PAYMENT, FUNDING_REVERSAL, or PAYMENT_REVERSAL.'
        type: string
        example: "PAYMENT"
      create_timestamp:
        description: Date and time the transaction was created as an ISO 8601 Timestamp. [YYYY-MM-DDTHH:MM:SSZ]
        type: string
        example: "2015-03-18T14:18:55Z"
      status:
        description: Status of the disbursement. One of APPROVED, DECLINED, UNKNOWN, ERROR, or PENDING.
        type: string
        example: "APPROVED"
      status_reason:
        description: Reason for status, APPROVED, DECLINED, FRAUD, CARD_EXPIRED, LIMIT_EXCEEDED, UNKNOWN,
          ERROR, PENDING
        type: string
        example: "APPROVED"
      status_timestamp:
        description: Date and time of when the status was changed to its current value as an ISO 8601
          Timestamp. [YYYY-MM-DDTHH:MM:SSZ
        type: string
        example: "2015-03-18T14:18:56Z"
      reversal_reason:
        description: Brief description of reason for reversal.
        type: string
        example: "Incorrect Amount"
      retrieval_reference:
        description: Unique reference number that identifies the transaction at the network. Details-
          maxlength 24
        type: string
        example: "624200192616"
      system_trace_audit_number:
        description: Unique system trace audit number for the transaction, the STAN ( system trace
          audit number ). Details- maxlength 6
        type: string
        example: "926162"
    xml:
      name: transaction
  FundingTransfer_wrapper:
    description: Contains the details of the request message.
    properties:
      funding_transfer:
        $ref: '#/definitions/FundingTransfer'
  Transfer_wrapper:
    description: Response details
    properties:
      transfer:
        $ref: '#/definitions/Transfer'
  Transfer_wrapper_Response:
    description: Response details
    properties:
      transfer:
        $ref: '#/definitions/Transfer_Response'
  FundingReversal_wrapper:
    description: Contains the details of the request message.
    properties:
      funding_reversal:
        $ref: '#/definitions/FundingReversal'
  ReversalTransfer_wrapper:
    description: Response details
    properties:
      transfer:
        $ref: '#/definitions/ReversalTransfer'
